/* Selection Window */
.header {
    display: flex;
    justify-content: center;
  }

.titleButton {
  background-image: linear-gradient(135deg, #c3d8e7 0%, #c7dff0 50%, #b9defc 100%);
  color: #fff;
  display: inline-block;
  border-width: 0;
  font-size: 6vw;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1vw 2vw;
  margin: 1vw 0;
  }
    
  .selected {
    background-image: linear-gradient(135deg, #ff9a8b 0%, #ffaca0 50%, #f5aca1 100%);
  }
    