/* Selection Window */
.header {
    display: flex;
    justify-content: left;
  }
  
  .titleButton {
  background-color: lightgrey;
  color: #fff;
  display: inline-block;
  border-width: 0;
  font-size: 4vw;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 1vw 2vw;
  margin: 1vw;
  }
  
  .selected {
    background-color: grey;
  }